body {
  background: #ccc;
}
fieldset {
  border: none;
  margin-bottom: 10px;
}
.registration-form {
  width: 300px;
  border: 1px solid silver;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  background: #eee;
  margin: 50px auto;
}
label {
  display: block;
}
.submit-btn {
  width: 100%;
}
.error {
  border: 1px solid red;
}
